@charset "utf-8";

$font-family-sans-serif: Lato, sans-serif;
$font-family-base:       $font-family-sans-serif;
$enable-rounded: false;
$blue:    #0857ad;
$font-weight-bold: 900;
$font-weight-normal: 400;
// $border-width: 4px;